@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.homeHero {
  background-image: url("/assets/HomeHero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.speaker1 {
  background-image: url("/assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.speaker2 {
  background-image: url("/assets/speakerBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:1024px) {
  .homeHero {
    background: url("/assets/heroTwo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .speaker2 {
    background-image: url("/assets/ZxImgII.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

}